@{
    ViewData["Title"] = "Welcome to your Diary!";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p class="text-center">Here is where you can share a bit of your day</p>
<div class="text-center">
    <a class="btn btn-primary" asp-area="" asp-controller="DiaryEntries" asp-action="Index">Go to your Diary</a>
</div>